<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>
  <!--APP LOGO-->
  <div class="container">
    <img src="https://www.jing.fm/clipimg/full/6-64453_air-jordan-shoes-drawing-easy-jordan-1-drawing.png"/>
    <!--APP LOGO-->
    <div class="titleapp">
    <ion-title>
      Sneaker App
    </ion-title>
  </div>
  <center>
    <ion-button [routerLink]="['/login']">Get Started</ion-button>
  </center>
  </div>
 
</ion-content>