<html>
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">

  <ion-toolbar>
    <!--Profile Button-->
<!--Profile Button-->

<!--App Name-->
    <ion-title>Sneaker App</ion-title>
<!--App Name-->


<!--Side Menu-->
  <ion-buttons slot="end">
    <ion-button [routerLink]="['/uhome']">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/profile-settings']">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    
<!--Side Menu-->
  </ion-toolbar>


<!--Profile-->



<ion-content>
  <ion-item color="none" lines="full">
    <ion-label position="stacked" color="primary" stacked>Title:</ion-label>
    <ion-input type="text" placeholder="Title"></ion-input>
  </ion-item>
  <ion-item color="none">
    <ion-label color="primary" position="floating">Description</ion-label>
    <ion-textarea placeholder="What's on your mind?"></ion-textarea>
  </ion-item>

  <div class="imageupload">
    <ion-button color="none" lines="none" (click)="onClick()" fill="clear">
    <ion-icon  name="attach-outline" color="secondary"></ion-icon>
    </ion-button>
  </div>

  <div class="post">
    <p><ion-button>POST</ion-button> <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components"></a></p>
    </div>

</ion-content>


</html>